<nav ui-nav>
    <ul class="nav">
        <li class="nav-header m-v-sm hidden-folded">
            Blog Kit
        </li>

        <li ui-sref-active="active">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="pull-right up"><b class="badge no-bg">2</b></i>
                <i class="icon mdi-action-settings-input-svideo i-20"></i>
                <span class="font-normal">Dashboard</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.dashboard">Dashboard</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.analysis">Analysis</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.wall">Wall</a>
                </li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="pull-right up"><b class="badge no-bg">3</b></i>
                <i class="icon mdi-navigation-apps i-20"></i>
                <span class="font-normal">Apps</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.note.list">Note</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.todo">Todo</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="app.inbox.list">Inbox</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('ui.component')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-action-subject i-20"></i>
                <span class="font-normal">Components</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.arrow">Arrow</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.badge-label">Badge &amp; Label</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.button">Button</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.color">Color</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.grid">Grid</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.icon">Icon</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.list">List Group</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.nav">Nav</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.progressbar">Progressbar</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.streamline">Streamline</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.timeline">Timeline</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.component.uibootstrap">UI Bootstrap</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('ui.material')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="pull-right up"><b class="badge bg-success">14</b></i>
                <i class="icon mdi-image-flash-on i-20"></i>
                <span class="font-normal">Material</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.button">Button</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.icon">Icon</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.color">Color</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.card">Card</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.form">Form</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.list">List</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.material.ngmaterial">NgMaterial</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('ui.form')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-toggle-radio-button-on i-20"></i>
                <span class="font-normal">Form</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.layout">Form Layout</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.element">Form Element</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.validation">Form Validation</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.select">Select</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.editor">Editor</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.slider">Slider</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.tree">Tree</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.file-upload">File Upload</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.image-crop">Image Crop</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.form.editable">Editable</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('ui.table')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-editor-format-list-bulleted i-20"></i>
                <span class="font-normal">Table</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.static">Static table</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.smart">Smart table</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.datatable">Datatable</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.footable">Footable</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.nggrid">NG Grid</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.uigrid">UI Grid</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.table.editable">Editable</a>
                </li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a md-ink-ripple ui-sref="ui.chart">
                <i class="pull-right up"><b class="label bg-info">NEW</b></i>
                <i class="icon mdi-device-multitrack-audio i-20"></i>
                <span class="font-normal">Charts</span>
            </a>
        </li>
        <li ng-class="{active:$state.includes('ui.map')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-maps-navigation i-20"></i>
                <span class="font-normal">Maps</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.map.google">Google Map</a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="ui.map.vector">Vector Map</a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('pages')}">
            <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-editor-insert-drive-file i-20"></i>
                <span class="font-normal">Pages</span>
            </a>
            <ul class="nav nav-sub">
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="page.profile">
                        <span>Profile</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="page.settings">
                        <span>Settings</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a md-ink-ripple ui-sref="page.blank">
                        <span>Blank</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="access.signin">
                        <span>Sign In</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="access.signup">
                        <span>Sign Up</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="access.forgot-password">
                        <span>Forgot Password</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="access.lockme">
                        <span>Lockme Screen</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="404">
                        <span>Error 404</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="505">
                        <span>Error 505</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('crud')}">
            <a md-ink-ripple href>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-action-description i-20"></i>
                <span>CRUD</span>
            </a>
            <ul class="nav nav-sub">
                <li>
                    <a md-ink-ripple href>
            <span class="pull-right text-muted">
              <i class="fa fa-caret-down"></i>
            </span>
                        <span class="font-normal">Blog</span>
                    </a>
                    <ul class="nav nav-sub">
                        <li>
                            <a md-ink-ripple ui-sref="crud.blog.article">Article</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-class="{active:$state.includes('system')}">
            <a md-ink-ripple href>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
                <i class="icon mdi-action-settings i-20"></i>
                <span>System</span>
            </a>
            <ul class="nav nav-sub">
                <li><a md-ink-ripple ui-sref="system.control">Control</a></li>
                <li>
                    <a md-ink-ripple href>
            <span class="pull-right text-muted">
              <i class="fa fa-caret-down"></i>
            </span>
                        <span class="font-normal">Blog</span>
                    </a>
                    <ul class="nav nav-sub">
                        <li>
                            <a md-ink-ripple ui-sref="system.blog.config">Configuration</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="b-b b m-v-sm"></li>
        <li>
            <a md-ink-ripple ui-toggle-class="hide, show" target="#nav, #account">
                <span>Account</span>
            </a>
        </li>
        <li>
            <a md-ink-ripple ui-sref="page.document">
                <span>Document</span>
            </a>
        </li>
        <li class="m-b-sm" ng-show="app.navShow.changeVersion">
            <a md-ink-ripple href="../html">
                <span>HTML Version</span>
            </a>
        </li>
    </ul>
</nav>
