@charset "utf-8";
/* CSS Document */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.btW{
	width:85px;}
.myTable{
	/*text-align:center*/;}
.manager-f{
	float:right;
}

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/Preloader_3.gif) center no-repeat #fff;
}

#line {
    height: 100px;
    width: 800px;
}
.percentBlue {
    color: green;
}

.percentRed {
    color: red;
}
