.percentBlue {
    color: green;
}

.percentRed {
    color: red;
}

.percentYellow {
    color: yellow;
}
.toggle-nav {
    display: none;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

@media (min-width: 768px) {
    .toggle-nav {
        display: block;
    }
}
