@charset "utf-8";
/* CSS Document */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.btW{
	width:85px;}
.myTable{
	/*text-align:center*/;}
.manager-f{
	float:right;
}