<div lazy-load="ui.crud.editor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <iz-filter-container iz-data-column-index='index = dataTable.filterConfig'>
            </iz-filter-container>
        </div>
        <div class="table-responsive">
            <table ui-crud-editor="dataTable" ui-options="dataTable.tableOptions" iz-datatable="dataTable.setDataTable"
                   class="table table-striped b-t b-b">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Short content</th>
                    <th>Type</th>
                    <th>image url</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
