<div class="box bg-white">
    <div class="navbar md-whiteframe-z1 no-radius"
         ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
        <!-- brand -->
        <a class="navbar-brand">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
          </svg>
            <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
            <span class="hidden-folded m-l inline">{{app.name}}</span>
        </a>
        <!-- / brand -->
    </div>
    <div class="box-row">
        <div class="box-cell scrollable hover">
            <div class="box-inner">
                <div class="p hidden-folded"
                     ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'"
                     style="background-image:url(images/bg.png); background-size:cover">
                    <div class="rounded w-64 bg-white inline pos-rlt">
                        <img src="images/a0.jpg" class="img-responsive rounded">
                    </div>
                    <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
                        <span class="block font-bold">John Smith</span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
                        john.smith@gmail.com
                    </a>
                </div>
                <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'"></div>
                <div id="account" class="hide m-v-xs">
                    <nav>
                        <ul class="nav">
                            <li>
                                <a md-ink-ripple ui-sref="page.profile">
                                    <i class="icon mdi-action-perm-contact-cal i-20"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a md-ink-ripple ui-sref="page.settings">
                                    <i class="icon mdi-action-settings i-20"></i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li>
                                <a md-ink-ripple ui-sref="access.lockme">
                                    <i class="icon mdi-action-exit-to-app i-20"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                            <li class="m-v-sm b-b b"></li>
                            <li>
                                <a md-ink-ripple ui-fullscreen>
                                    <i class="icon mdi-navigation-fullscreen i-24"></i>
                                    <span>Fullscreen</span>
                                </a>
                            </li>
                            <li>
                                <div class="nav-item">
                                    <label class="md-check">
                                        <input type="checkbox" ng-model="app.setting.asideFolded">
                                        <i class="{{app.setting.theme.accent}} no-icon"></i>
                                        <span class="hidden-folded">Folded aside</span>
                                    </label>
                                </div>
                            </li>
                            <li class="p p-v-sm hidden-folded">
                                <div class="m-b-sm">Theming:</div>
                                <div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'indigo', accent: 'green', warn: 'amber'}">
                                        <span class="indigo col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="amber col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}">
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="light-green col-xs-4 box-col"></span>
                                        <span class="lime col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
                                        <span class="deep-purple col-xs-4 box-col"></span>
                                        <span class="blue col-xs-4 box-col"></span>
                                        <span class="light-blue col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'blue', accent: 'indigo', warn: 'amber'}">
                                        <span class="blue col-xs-4 box-col"></span>
                                        <span class="indigo col-xs-4 box-col"></span>
                                        <span class="amber col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'cyan', accent: 'teal', warn: 'green'}">
                                        <span class="cyan col-xs-4 box-col"></span>
                                        <span class="teal col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'pink', accent: 'deep-purple', warn: 'purple'}">
                                        <span class="pink col-xs-4 box-col"></span>
                                        <span class="deep-purple col-xs-4 box-col"></span>
                                        <span class="purple col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}">
                                        <span class="blue-grey col-xs-4 box-col"></span>
                                        <span class="teal-200 col-xs-4 box-col"></span>
                                        <span class="lime col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}">
                                        <span class="bg-dark col-xs-4 box-col"></span>
                                        <span class="green-300 col-xs-4 box-col"></span>
                                        <span class="amber-300 col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px"
                                         ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}">
                                        <span class="bg-white col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="teal col-xs-4 box-col"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav b-t b">
            <li>
                <a href="http://blog.dev" target="_blank" md-ink-ripple>
                    <i class="icon mdi-action-help i-20"></i>
                    <span>Help &amp; Feedback</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
